In [4]:
import pandas as pd

graphafold_file = "graphafold_results/results-casp.csv"

df = pd.read_csv(graphafold_file, sep=";")
df.tail(25)

,Nazwa pliku,TP,FN,FP,PPV,TPR,INF
0,7ZJ4.amt,39,21,7,"0,8478260869565220","0,65","0,742352312936209"
1,8TVZ.amt,39,11,2,"0,9512195121951220","0,78","0,861365903383803"
2,8UYE.amt,12,6,1,"0,9230769230769230","0,6666666666666670","0,7844645405527360"
3,7PTK.amt,77,11,7,"0,9166666666666670","0,875","0,8955910525085280"
4,8FZA.amt,26,18,13,"0,6666666666666670","0,5909090909090910","0,6276459144608480"
5,8UYS.amt,26,4,0,"1,0","0,8666666666666670","0,9309493362512630"
6,7YR7.amt,14,8,9,"0,6086956521739130","0,6363636363636360","0,622375914264142"
7,7YR6.amt,9,1,3,"0,75","0,9","0,8215838362577490"
8,8UYG.amt,4,10,2,"0,6666666666666670","0,2857142857142860","0,4364357804719850"
9,8BTZ.amt,12,0,0,"1,0","1,0","1,0"
10,7PTL.amt,50,10,2,"0,9615384615384620","0,8333333333333330","0,8951435925492910"
11,9B0L.amt,2,6,3,"0,4","0,25","0,31622776601683800"
12,8UO6.amt,45,11,9,"0,8333333333333330","0,8035714285714290","0,8183170883849710"
13,8S95.amt,27,9,3,"0,9","0,75","0,8215838362577490"
14,8UYJ.amt,7,5,2,"0,7777777777777780","0,5833333333333330","0,6735753140545630"
15,9BZ1.amt,28,0,10,"0,7368421052631580","1,0","0,8583950752789520"
16,9BZC.amt,12,0,4,"0,75","1,0","0,8660254037844390"

### Calculate F1-score

In [5]:
tp = df['TP'].values
fn = df['FN'].values
fp = df['FP'].values
f1_scores = 2 * tp / (2 * tp + fp + fn)
df['F1'] = f1_scores
df['F1'] = df['F1'].round(2)
df.head()

,Nazwa pliku,TP,FN,FP,PPV,TPR,INF,F1
0,7ZJ4.amt,39,21,7,"0,8478260869565220","0,65","0,742352312936209",0.74
1,8TVZ.amt,39,11,2,"0,9512195121951220","0,78","0,861365903383803",0.86
2,8UYE.amt,12,6,1,"0,9230769230769230","0,6666666666666670","0,7844645405527360",0.77
3,7PTK.amt,77,11,7,"0,9166666666666670","0,875","0,8955910525085280",0.90
4,8FZA.amt,26,18,13,"0,6666666666666670","0,5909090909090910","0,6276459144608480",0.63

### Rename PDB Column

In [6]:
# rename columns
df.rename(columns={
    "Nazwa pliku": "PDB"
}, inplace=True)
pdbs = df['PDB'].values
pdbs = [pdb.split(".")[0] for pdb in pdbs]
df['PDB'] = pdbs
df.head()

,PDB,TP,FN,FP,PPV,TPR,INF,F1
0,7ZJ4,39,21,7,"0,8478260869565220","0,65","0,742352312936209",0.74
1,8TVZ,39,11,2,"0,9512195121951220","0,78","0,861365903383803",0.86
2,8UYE,12,6,1,"0,9230769230769230","0,6666666666666670","0,7844645405527360",0.77
3,7PTK,77,11,7,"0,9166666666666670","0,875","0,8955910525085280",0.90
4,8FZA,26,18,13,"0,6666666666666670","0,5909090909090910","0,6276459144608480",0.63

### Calculate Precision and Recall

In [7]:
precision = tp / (tp + fp)
recall = tp / (tp + fn)
df['Precision'] = precision
df['Recall'] = recall
df.head()

,PDB,TP,FN,FP,PPV,TPR,INF,F1,Precision,Recall
0,7ZJ4,39,21,7,"0,8478260869565220","0,65","0,742352312936209",0.74,0.847826,0.650000
1,8TVZ,39,11,2,"0,9512195121951220","0,78","0,861365903383803",0.86,0.951220,0.780000
2,8UYE,12,6,1,"0,9230769230769230","0,6666666666666670","0,7844645405527360",0.77,0.923077,0.666667
3,7PTK,77,11,7,"0,9166666666666670","0,875","0,8955910525085280",0.90,0.916667,0.875000
4,8FZA,26,18,13,"0,6666666666666670","0,5909090909090910","0,6276459144608480",0.63,0.666667,0.590909

### Save the DataFrame to a CSV file

In [17]:
df_save = df[['PDB', 'Precision', 'Recall', 'F1', 'INF']]
df_save['INF'] = df_save['INF'].apply(lambda x: float(x.replace(",", ".")))
# round values in df_save
df_save = df_save.round(2)
# order by PDB column
df_save = df_save.sort_values(by=['PDB'])
df_save.head(20)
df_save.to_csv("graphafold_results.csv", index=False, sep=",")

/tmp/ipykernel_1878958/2832346646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_save['INF'] = df_save['INF'].apply(lambda x: float(x.replace(",", ".")))